<!-- section -->
        <div class="section bg-primary-light">
          <div class="container">
            <header class="text-center mb-md-5">
              <h4>{{ section.settings.heading }}</h4>
            </header>
            <div class="owl-carousel carousel2">
              <div class="item">
                <img src="{{ 'logo3.svg' | asset_url }}" alt="logo">
              </div>
              <div class="item">
                <img src="{{ 'logo4.svg' | asset_url }}" alt="logo">
              </div>
              <div class="item">
                <img src="{{ 'logo5.svg' | asset_url }}" alt="logo">
              </div>
              <div class="item">
                <img src="{{ 'logo6.svg' | asset_url }}" alt="logo">
              </div>
              <div class="item">
                <img src="{{ 'logo7.svg' | asset_url }}" alt="logo">
              </div>
              <div class="item">
                <img src="{{ 'logo8.svg' | asset_url }}" alt="logo">
              </div>
              <div class="item">
                <img src="{{ 'logo9.svg' | asset_url }}" alt="logo">
              </div>
              <div class="item">
                <img src="{{ 'logo10.svg' | asset_url }}" alt="logo">
              </div>
            </div>
          </div>
        </div>
<!-- /section -->

{% schema %}
  {
    "name": "Companies",
    "settings": [
		{
			"id": "heading",
			"type": "text",
			"label": "Heading",
			"default": "Companies we’ve worked with"
		}
	],
	"blocks": [
		{
			"name": "Company",
			"type": "company",
			"settings": [
				{
					"id": "file-name",
					"type": "text",
					"label": "Asset File Name"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Companies"
		}
	]
  }
{% endschema %}
