{% comment %} <!-- section -->
        <div class="section ingredients text-center">
          <div class="container">
            <header>
              <h3>{{ section.settings.heading }}</h3>
            </header>
            <div class="row">
              <div class="col-md-4 column">
                <div class="image">
                  <img src="{{ 'image8.png' | asset_url }}" alt="icon">
                </div>
                <p>Chocolate chip</p>
              </div>
              <div class="col-md-4 column">
                <div class="image">
                  <img src="{{ 'image9.png' | asset_url }}" alt="icon">
                </div>
                <p>Kinder</p>
              </div>
              <div class="col-md-4 column">
                <div class="image">
                  <img src="{{ 'image10.png' | asset_url }}" alt="icon">
                </div>
                <p>Caramel candy</p>
              </div>
            </div>
          </div>
        </div>
<!-- /section --> {% endcomment %}

<!-- section -->
        <div class="section ingredients text-center">
          <div class="container">
            <header>
              <h3>{{ section.settings.heading }}</h3>
            </header>
            <div class="row">

              
             
            {% assign scope = product.metafields.airf %}
            {% assign ingredient = scope.ingredient %}
            {% if ingredient and ingredient != blank %}
                {% for row in ingredient.rows %}
                  <div class="col-md-4 column">
                    <div class="image">
                      <img src="{{ 'image9.png' | asset_url }}" alt="icon">
                    </div>
                    <p>Kinder</p>
                  </div>
                {% endfor %}
            {% endif %}


              
            </div>
          </div>
        </div>
<!-- /section -->



{% schema %}
  {
    "name": "Ingredients",
    "settings": [
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "INGREDIENTS"
      }
    ]
  }
{% endschema %}