{% comment %} <!-- section -->
        <div class="section ingredients text-center">
          <div class="container">
            <header>
              <h3>{{ section.settings.heading }}</h3>
            </header>
            <div class="row">
              <div class="col-md-4 column">
                <div class="image">
                  <img src="{{ 'image8.png' | asset_url }}" alt="icon">
                </div>
                <p>Chocolate chip</p>
              </div>
              <div class="col-md-4 column">
                <div class="image">
                  <img src="{{ 'image9.png' | asset_url }}" alt="icon">
                </div>
                <p>Kinder</p>
              </div>
              <div class="col-md-4 column">
                <div class="image">
                  <img src="{{ 'image10.png' | asset_url }}" alt="icon">
                </div>
                <p>Caramel candy</p>
              </div>
            </div>
          </div>
        </div>
<!-- /section --> {% endcomment %}



{% assign scope = product.metafields.airf %}
{% assign ingredient = scope.ingredient %}
{% if ingredient and ingredient != blank %}
    {% for row in ingredient.rows %}
        Row Data 
        {% for row_field in row %}
            {% comment %} Show ech field in row {% endcomment %}
            <div id="{{row_field.key}}">
                <span>{{row_field.label}}: {{ scope[row_field.key] }}</span>
            </div>

            {% comment %} Conditional show items, for example you can decide which html tag to use {% endcomment %}
            {% if row_field.key contains "XXX" %}
                <h2 id="{{row_field.key}}">{{ scope[row_field.key] }}</h2>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}



{% schema %}
  {
    "name": "Ingredients",
    "settings": [
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "INGREDIENTS"
      }
    ]
  }
{% endschema %}